@font-face{
   font-family: 'Quicksand-Regular';
   font-weight: 400;
   font-style: normal;
   src:  local('Quicksand-Regular'),
         url('../fonts/Quicksand-Regular.woff2') format('woff2'),
         url('../fonts/Quicksand-Regular.woff') format('woff');
   font-display: swap;
}

@font-face{
   font-family: 'Quicksand-Medium';
   font-weight: 500;
   font-style: normal;
   src:  local('Quicksand-Medium'),
         url('../fonts/Quicksand-Medium.woff2') format('woff2'),
         url('../fonts/Quicksand-Medium.woff') format('woff');
   font-display: swap;
}

@font-face{
   font-family: 'Roboro-Regular';
   font-weight: 400;
   font-style: normal;
   src:  local('Roboro-Regular'),
         url('../fonts/Roboro-Regular.woff2') format('woff2'),
         url('../fonts/Roboro-Regular.woff') format('woff');
   font-display: swap;
}

@font-face{
   font-family: 'Roboro-Bold';
   font-weight: 700;
   font-style: normal;
   src:  local('Roboro-Bold'),
         url('../fonts/Roboro-Bold.woff2') format('woff2'),
         url('../fonts/Roboro-Bold.woff') format('woff');
   font-display: swap;
}