$default: #8d8d8d;
$accent: #fe3e57;
$title:  #29282d;
$bg:  #f6f6f6;

%quicksand-400{
   font-family: 'Quicksand-Regular', sans-serif;
   font-weight: 400;
}

%quicksand-500{
   font-family: 'Quicksand-Medium', sans-serif;
   font-weight: 500;
}

%roboto-400{
   font-family: 'Roboro-Regular', sans-serif;
   font-weight: 400;
}

%roboto-700{
   font-family: 'Roboro-Bold', sans-serif;
   font-weight: 700;
}

%btn{
   background-color: $accent;
   text-transform: uppercase;
   color: #fff;
   padding: 12px 26px;
   @extend %roboto-400;
   box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
   cursor: pointer;
}