$default: #8d8d8d;
$accent: #fe3e57;
$title:  #29282d;

%quicksand-400{
   font-family: 'Quicksand-Regular', sans-serif;
   font-weight: 400;
}

%quicksand-500{
   font-family: 'Quicksand-Medium', sans-serif;
   font-weight: 500;
}

%roboto-400{
   font-family: 'Roboro-Regular', sans-serif;
   font-weight: 400;
}

%roboto-700{
   font-family: 'Roboro-Bold', sans-serif;
   font-weight: 700;
}