.product-page{
   padding: 120px 0 0;
}

.product-one{
   &__inner{
      display: flex;
   }
   &__slide{
      width: 730px;
      margin-right: 70px;
   }
   &__content{
      width: 370px;
   }
   &__title{
      color: $title;
      margin-bottom: 20px;
      font-size: 20px;
   }
   &__box{
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
   }
   &__price{
      display: flex;
      font-size: 18px;
   }
   &__price-new{
      color: $title;
   }
   &__price-old{
      padding-left: 15px;
      text-decoration: line-through;
   }
   &__star{
      display: flex;
      align-items: center;
      span{
         padding-left: 8px;
         color: $title;
         font-size: 22px;
      }
   }
   &__text{
      margin-bottom: 30px;
      span{
         display: block;
         color: $title;
         @extend %roboto-400;
         font-size: 18px;
      }
   }
   &__btn{
      @extend %btn;
      border: none;
      margin-left: 15px;
   }
}

.product-slide{
   display: flex;
   .slick-vertical .slick-slide{
      height: 140px;
      margin-bottom: 30px;
   }
   &__thumb{
      width: 140px;
      margin-right: 30px;
   }
   &__thumb-item{
      margin-bottom: 30px;
      width: 140px;
      height: 140px;
      cursor: pointer;
      img{
         width: 140px;
         height: 140px;
         object-fit: cover;
      }
   }
   &__big{
      width: 560px;
      img{
         width: 560px;
         height: 650px;
         object-fit: cover
      }
   }
}

.product-info{
   &__list{
      margin-bottom: 30px;
   }
   &__item{
      margin-bottom: 5px;
      display: flex;
   }
   &__title{
      min-width: 100px;
      color: $title;
   }
   &__link{
      path{
         fill: $default;
      }
      & + .product-info__link{
         margin-left: 15px;
      }
      &:hover{
         path{
            fill: $accent;
         }
      }
   }
}

.jq-number__field {
   width: 114px;
   border: 1px solid #f0f0f0;
   transform: translateY(1px);
}

.jq-number__field input{
   width: 100%;
   height: 50px;
   border: none;
   outline: none;
   color: $title;
   @extend %quicksand-500;
   text-align: center;
}

.jq-number{
   padding: 0;
   position: relative;
}

.jq-number__spin {
   position: absolute;
   cursor: pointer;
   width: 12px;
   height: 12px;
   top: 50%;
   transform: translateY(-50%);
}

.jq-number__spin::after {
   content: '';
   position: absolute;
   top: 5px;
   left: 0;
   background-color: $title;
   width: 12px;
   height: 2px;
}

.jq-number__spin.minus{
   left: 15px;
}

.jq-number__spin.plus{
   right: 15px;
}

.jq-number__spin.plus::before {
   content: '';
   position: absolute;
   top: 0;
   left: 5px;
   background-color: $title;
   width: 2px;
   height: 12px;
}

.product-filter{
   &__color{
      margin-bottom: 25px;
      label{
         margin-right: 10px;
      }
   }
   &__color-title,
   &__size-title{
      margin-bottom: 5px;
      font-size: 18px;
      color: $title;
      @extend %roboto-400;
   }
   &__color-input{
      @extend %radio-hidden;
      &:checked{
         & + .product-filter__color-radio{
            border-color: $accent ;
         }
      }
   }
   &__color-radio{
      width: 24px;
      height: 24px;
      cursor: pointer;
      border: 1px solid #ccccce;
      position: relative;
      display: inline-block;
      span{
         position: absolute;
         display: inline-block;
         width: 16px;
         height: 16px;
         background-color: red;
         top: 3px;
         left: 3px;
      }
   }
   &__size{
      margin-bottom: 35px;
      label{
         margin-right: 10px;
         display: inline-block;
      }
   }
   &__size-input{
      @extend %radio-hidden;
      &:checked{
         & + .product-filter__size-radio{
            border-color: $accent ;
         }
      }
   }
   &__size-radio{
      padding: 4px 12px;
      border: 1px solid #ccccce;
      display: inline-block;
   }
}

.product-tabs{
   padding-top: 110px;
   &__top{
      margin-bottom: 40px;
      border-bottom: 1px solid #f0f0f0;
      @extend %roboto-400;
      font-size: 22px;
   }
   &__top-item{
      margin-bottom: 10px;
      display: inline-block;
      & + .product-tabs__top-item{
         margin-left: 55px;
      }
   }
   &__top-item--active{
      color: $title;
      position: relative;
      &::before{
         content: '';
         position: absolute;
         bottom: -11px;
         right: 0;
         left: 0;
         width: 100%;
         height: 1px;
         background-color: $accent;
      }
   }
   &__content-item{
      display: none;
      &.product-tabs__content-item--active{
         display: block;
      }
   }
}

.comments{
   margin-bottom: 40px;
   display: flex;
   &__img{
      margin-right: 30px;
      min-width: 71px;
      height: 71px;
      border-radius: 50%;
      overflow: hidden;
      object-fit: cover;
   }
   &__content-top{
      display: flex;
      margin-bottom: 10px;
   }
   &__content-name{
      color: $title;
      margin-right: 13px;
      @extend %roboto-400;
   }
   &__content-date{
      padding-left: 13px;
      border-left: 1px solid $default;
   }
   &__content-star{
      margin-left: auto;
      margin-right: 0;
   }
   &__content-text{
      margin-bottom: 10px;
   }
   &__content-reply{
      display: inline-block;
      padding-left: 25px;
      position: relative;
      &::before{
         content: '';
         position: absolute;
         left: 0;
         top: 7px;
         width: 15px;
         height: 13px;
         background-image: url('../images/icons/reply.svg');
      }
   }
   &__title{
      margin-bottom: 25px;
      color: $title;
      font-size: 24px;
      @extend %roboto-700;
      text-transform: uppercase;
   }
}

.comments-form{
   border-bottom: 1px solid #f0f0f0;
   padding-bottom: 60px;
   &__title{
      color: $title;
      font-size: 22px;
      @extend %roboto-400;
      padding-bottom: 10px;
      margin-bottom: 30px;
      position: relative;
      &::before{
         content: '';
         position: absolute;
         height: 1px;
         background-color: $accent;
         bottom: 0;
         left: 0;
         width: 50px;
      }
   }
   &__rating{
      margin-bottom: 30px;
   }
   &__rating-title{
      margin-right: 60px;
      color: $title;
   }
   &__label{
      margin-right: 25px;
   }
   &__input{
      @extend %radio-hidden;
      &:checked + .comments-form__radio{
         path{
            fill: #ffc35b;
         }
      }
   }
   &__radio{
      cursor: pointer;
      path{
         fill: $default;
      }
   }
   &__box-input{
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
   }
   &__text-input{
      width: 570px;
      display: inline-block;
      height: 50px;
      padding: 0 20px;
      border: 1px solid #f0f0f0;
   }
   &__textarea{
      height: 225px;
      border: 1px solid #f0f0f0;
      padding: 15px 20px;
      display: block;
      width: 100%;
      resize: none;
      margin-bottom: 40px;
   }
   &__btn{
      border: none;
      @extend %btn;
   }
}
.star{
   margin: 0 auto;
}