.blog-page{
   padding: 120px 0 60px;
   &__item--slider{
      .blog-page__item-box{
         margin-top: -8px;
      }
   }
   &__slider{
      .slick-next,
      .slick-prev{
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         z-index: 5;
         border-radius: 50%;
         width: 40px;
         height: 40px;
         background-color: $accent;
         display: flex;
         justify-content: center;
         align-items: center;
         border: none;
         cursor: pointer;
         outline: none;
         box-shadow: 0px 7px 20px 0px rgba(254, 62, 87, 0.3);
         path{
            fill: #fff;
         }
      }
      .slick-disabled{
         background-color: #fff;
         box-shadow: 0px 7px 20px 0px rgba(168, 168, 168, 0.3);
         path{
            fill: $accent;
         }
      }
      .slick-next{
         right: 40px;
      }
      .slick-prev{
         left: 40px;
      }
   }
   &__inner{
      display: flex;
      justify-content: space-between;
   }
   &__content{
      width: 770px;
      margin-right: 30px;
   }
   &__aside{
      width: 370px;
   }
   &__item{
      margin-bottom: 60px;
      &.blog-page__item--no-image{
         border: 1px solid #ececec;
         box-shadow: 0px 20px 60px 0px rgba(202, 202, 202, 0.35);
      } 
   }
   &__item-link{
      display: block;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      font-size: inherit;
   }
   &__img{
      max-width: 770px;
      height: 450px;
      object-fit: cover;
      display: block;
   }
   &__item-box{
      border: 1px solid #ececec;
      border-top: none;
      padding: 40px;
   }
   &__item-title{
      color: $title;
      font-size: 22px;
      @extend %roboto-700;
      line-height: 32;
      margin-bottom: 20px;
      transition: all .3s;
      &:hover{
         color: $accent;
      }
   }
   .blog-box{
      justify-content: start;
      &__author{
         margin-right: 30px;
      }
   }
   
}

.person{
   border: 1px solid #ececec;
   margin-bottom: 40px;
   text-align: center;
   padding: 40px 25px;
   &__img{
      display: inline-block;
      width: 160px;
      height: 160px;
      object-fit: cover;
      margin: 0 auto 35px;
   }
   &__name{
      color: $title;
      font-size: 18px;
      @extend %roboto-700;
   }
   &__position{
      color: $accent;
      margin-bottom: 25px;
   }
   &__text{
      margin-bottom: 25px;
   }
   &__social-link{
      margin: 0 8px;
      path{
         fill: $default;
         transition: all .3s;
      }
      &:hover{
         path{
            fill: $accent;
         }
      }
   }
}

.latest-post{
   padding: 35px 30px 40px;
   border: 1px solid #ececec;
   margin-bottom: 40px;
   &__title{
      text-transform: uppercase;
      color: $title;
      margin-bottom: 35px;
   }
   &__item{
      margin-bottom: 20px;
      display: flex;
      & + .latest-post__item{
         border-top: 1px solid #ececec;
         padding-top: 20px;
      }
   }
   &__img-link{
      display: block;
      margin-right: 20px;
      min-width: 80px;
   }
   &__img{
      width: 80px;
      height: 80px;
      object-fit: cover;
   }
   &__title-link{
      @extend %roboto-400;
      font-size: 18px;
      color: $title;
      line-height: 28px;
   }
   &__box-date{
      padding-left: 26px;
      position: relative;
      &::before{
         content: "";
         position: absolute;
         left: 0;
         top: 5px;
         background-image: url('../images/icons/calendar.svg');
         width: 16px;
         height: 16px;
      }
   }
}